.movie__list {
	padding: 2rem 3rem;
}
.movie__list__header {
	display: flex;
	justify-content: space-between;
	margin-top: 2.5rem;
	padding-bottom: 1rem;
}
/* .movie__list__active {
	color: rgba(251, 75, 251, 0.91);
} */
.list__title {
	font-size: 1.75rem;
}

.movie__list h2 {
	color: rgba(251, 75, 251, 0.91);
	text-align: center;
}
