.container__navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 999;
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		#434343,
		#000000
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#434343,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0px 2px 20px -2px rgba(230, 62, 62, 0.47);
	transition: top 0.3s linear;
}
.hiddenNav {
	top: -12%;
}
.nav__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}
.left__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}
.left__nav a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.left__nav a .logo {
	width: 50px;
	height: 55px;
	object-fit: cover;
}
.left__nav a span {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.8);
}
.middle__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
}
.middle__nav ul {
	display: flex;
	width: 100%;
}
.middle__nav ul li {
	list-style: none;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80px;
}
.middle__nav ul li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
}
.middle__nav ul li a .icon {
	position: relative;
	display: block;
	font-size: 1.9rem;
	line-height: 75px;
	transition: 0.5s;
	color: rgba(255, 255, 255, 0.8);
}
.middle__nav ul li a.active__nav .icon {
	transform: translateY(-8px);
	color: #fd29ba;
}
.middle__nav ul li a .text {
	position: absolute;
	opacity: 0;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 400;
	font-size: 0.85rem;
	transition: 0.5s;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	transform: translateY(0px);
}
.middle__nav ul li a.active__nav .text {
	transform: translateY(20px);
	opacity: 1;
}
.right__nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
.right__nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 1rem;
}
.right__nav ul :nth-child(3):hover {
	color: rgb(230, 62, 62);
}
.right__nav ul li {
	list-style: none;
}
.avatar {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}
.right__nav .login__item a {
	color: #fff;
	text-decoration: none;
	font-size: 1.1rem;
}
.right__nav .login__item a:hover {
	color: rgb(230, 62, 62);
}
