.movie {
	padding: 0 8rem;
	width: 100%;
}
.movie__intro {
	width: 100%;
	height: 400px;
	position: relative;
}
.movie__intro .movie__backdrop {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 35%;
	box-shadow: 0px -1px 30px -13px rgba(21, 137, 255, 0.91);
	-webkit-box-shadow: 0px -1px 30px -13px
		rgba(21, 137, 255, 0.91);
	-moz-box-shadow: 0px -1px 30px -13px
		rgba(21, 137, 255, 0.91);
}
.trailer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
}
.trailer__btn {
	position: absolute;
	right: 2%;
	bottom: 2%;
	font-size: 0.9rem;
	padding: 0.3rem 1rem;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: rgba(21, 137, 255, 0.91);
	color: #fff;
	cursor: pointer;
	z-index: 9;
	transition: all 0.5s ease-in-out;
}
.trailer__btn__close {
	z-index: 99;
}
.trailer__btn:hover {
	color: rgb(234, 14, 14);
}
.movie__detail {
	width: 100%;
	position: absolute;
	display: flex;
	gap: 1.5rem;
	top: 40%;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 10rem;
}
.movie__detailLeft {
	min-width: 250px;
	height: 370px;

	box-shadow: 0px -1px 10px 1px rgba(21, 137, 255, 0.91);
	-webkit-box-shadow: 0px -1px 10px 1px rgba(21, 137, 255, 0.91);
	-moz-box-shadow: 0px -1px 10px 1px rgba(21, 137, 255, 0.91);
}
.movie__detailLeft img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.movie__detailRight {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	/* padding: 0.8rem 0; */
}
.movie__detailRight .top__part {
	/* display: flex; */
	/* flex-direction: column; */
	/* gap: 0.4rem; */
	/* background-color: aqua; */
	line-height: 20px;
}
.movie__detailRight .top__part .movie__name {
	font-size: 2rem;
	font-weight: 700;
	color: rgba(21, 137, 255, 0.91);
}
.movie__detailRight .top__part .movie__tagline {
	font-size: 0.75rem;
	color: rgba(255, 255, 255, 0.6);
}
.movie__detailRight .middle__part .middle__part__items_1 {
	position: relative;
	display: flex;
	gap: 1rem;
	font-size: 0.75rem;

	/* line-height: 10px; */
}
.movie__detailRight
	.middle__part
	.middle__part__items_1
	span {
	color: rgba(255, 255, 255, 0.6);
}
.middle__part__items_2 .movie__genres {
	display: flex;
	gap: 0.5rem;
}
.middle__part__items_2 .movie__genres .movie__genre {
	font-size: 0.65rem;
	border: 1px solid rgba(21, 137, 255, 0.91);
	border-radius: 5px;
	padding: 0.2rem;
}
.movie__detailRight .middle__part .middle__part__items_3 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 70px;
	gap: 1rem;
	/* background-color: rgb(31, 34, 34); */
}
.middle__part__items_3 li {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	background-color: rgba(21, 137, 255, 0.91);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.middle__part__items_3 li:nth-child(1) {
	/* background-color: transparent; */
	position: relative;
}
.middle__part__items_3 li:nth-child(6) {
	background-color: transparent;
	width: fit-content;
	border-radius: 10px;
	/* padding: 0 0.5rem; */
	font-size: 0.85rem;
	font-weight: 500;
	transition: 0.5s;
}
.middle__part__items_3 li:nth-child(6):hover {
	color: rgb(234, 14, 14);
}
.middle__part__items_3 li:nth-child(6) span {
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(234, 14, 14);
	padding: 0;
}
.middle__part__items_3 li span {
	font-size: 0.9rem;
	padding-top: 0.4rem;
}
.movie__rating__percent {
	/* position: absolute;
	top: 0;
	right: 0; */
	width: 50px;
	height: 50px;
	/* background-color: aqua; */
}
.movie__rating__percent svg {
	/* position: relative; */
	width: 100px;
	height: 100px;
}
.movie__rating__percent svg circle {
	width: 100px;
	height: 100px;
	fill: none;
	stroke-width: 3;
	stroke: rgba(25, 25, 25, 0.8);
	transform: translate(5px, 5px);
	stroke-dasharray: 125;
	stroke-dashoffset: 125;
}
.movie__rating__percent svg circle:nth-child(1) {
	stroke-dashoffset: 0;
	stroke: rgba(25, 25, 25, 0.8);
}

.movie__rating__percent .movie__rating__number {
	position: absolute;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
}
.movie__rating__percent .movie__rating__number span {
	font-size: 0.5rem;
	margin-bottom: 3px;
}
.movie__detailRightBottom .synopsisText {
	font-size: 1.3rem;
	color: rgba(21, 137, 255, 0.91);
	padding-bottom: 0.5rem;
}
.movie__detailRightBottom span {
	font-size: 0.75rem;
}
.movie__link {
	margin-top: 12rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}
.movie__heading {
	font-size: 1.5rem;
}
.movie__btn {
	border-radius: 10px;
	cursor: pointer;
	padding: 0.5rem 2rem;
	font-size: 0.9rem;
	font-weight: 700;
	color: #000;
}
.movie__btn:hover {
	color: #fff;
}
.movie__homeBtn {
	background-color: red;
}
.movie__imdbBtn {
	background-color: rgb(241, 211, 17);
	padding: 0.5rem 3rem;
}
.movie__production__heading {
	text-align: center;
	padding: 4rem 2rem;
	font-size: 1.5rem;
}
.movie__production {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}
.productionCompanyImg {
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
}
.productionCompanyImg span {
	font-size: 0.9rem;
	text-align: center;
	padding-top: 1rem;
}
.movie__productionCompany {
	width: 100%;
	height: 100%;
}
