/* start */
/* styling card for page movie and tv */

/* styling card for page search */
.container_card {
	width: 100%;
}
.wrap_card {
	display: flex;
	width: 100%;
	height: 130px;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
	color: #fff;
	text-decoration: none;
	overflow: hidden;
}

.wrap_card.cardCastCrew {
	height: 80px;
}
.wrap_card .wrap_poster {
	width: 100px;
	height: 130px;
}

.wrap_card .wrap_poster.profile {
	width: 70px;
	height: 100%;
}
.wrap_card .wrap_poster.episode {
	width: 300px;
	height: 100%;
}
.wrap_card .wrap_poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
.wrap_card .des {
	padding: 0 1rem;
	align-self: center;
	width: 100%;
}
.wrap_card.cardSeason .des {
	font-size: 1.25rem;
}
.wrap_card.cardCastCrew .character {
	padding: 1.5rem;
	font-size: 0.9rem;
	align-self: center;
}
.wrap_card.cardCastCrew .character a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}
.wrap_card.cardCastCrew .character a:hover {
	color: rgb(21, 137, 255);
}
.wrap_card.cardCastCrew .character div:nth-child(2) {
	font-size: 0.75rem;
	color: rgba(255, 255, 255, 0.6);
}

.wrap_card .des .title {
	margin-bottom: 1.25rem;
}
.wrap_card .des .title p {
	font-size: 0.75rem;
	color: rgba(255, 255, 255, 0.6);
}
.wrap_card ul {
	display: flex;
	font-size: 0.85rem;
	color: rgba(255, 255, 255, 0.6);
}
.wrap_card ul li {
	list-style: none;
	padding-left: 0.3rem;
}
.wrap_card .des .synopsis {
	font-size: 0.85rem;
}
.keywords {
	width: 100%;
	padding: 0.5rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* styling for  card season */
/* .wrap_card.cardSeason {
	height: 200px;
	display: flex;
	align-items: center;
	padding: 1rem;
}
.wrap_card .wrap_poster.posterSeason {
	width: 100px;
	height: 150px;
}
.wrap_card .wrap_poster.posterSeason img {
	border-radius: 10px;
}

.wrap_card.cardSeason .des .title.titleSeason {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 700;
}

.wrap_card.cardSeason .des .title.titleSeason a h4:hover {
	color: rgb(21, 137, 255);
}

.wrap_card.cardSeason .des .title.titleSeason .votes {
	background-color: rgb(21, 137, 255);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1rem;
	color: #fff;
} */
