.container__trending {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.close__tranding__trailer {
	position: absolute;
	top: 10%;
	left: 9.8%;
	font-size: 2rem;
	z-index: 10;
	cursor: pointer;
}
.trailer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9;
}
.close__tranding__trailer:hover {
	color: rgb(21, 137, 255);
}
.trending__hero {
	position: relative;
}
.container__trending__movies {
	position: relative;
	width: 100%;
	margin-top: 2rem;
}
.container__trending__movies .trending__title {
	text-align: center;
	line-height: 30px;
	margin-bottom: 1rem;
}
.wrapper__trending__movies {
	display: flex;
	flex-wrap: wrap;
	padding: 0 8rem;
	justify-content: center;
	align-items: center;
	width: 100%;
}
