.card {
	position: relative;
}
.card .poster {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	margin: 5px;
}
.card .poster img {
	width: 100%;
	height: 210px;
	object-fit: cover;
	object-position: top;
	transition: 0.5s;
}
.card .poster::before {
	content: '';
	position: absolute;
	bottom: -100px;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.5) 50%,
		transparent
	);
	transition: 0.5s;
	z-index: 1;
}
.card:hover .poster::before {
	bottom: 0px;
}

.card:hover .poster img {
	transform: translateY(-50px);
	filter: blur(5px);
}
.card .card__details {
	position: absolute;
	bottom: -80px;
	left: 0;
	width: 100%;
	z-index: 2;
	transition: 0.5s;
}
.card:hover .card__details {
	bottom: 10px;
}

.card .card__details .card__title {
	font-size: 1.3rem;
	font-weight: 800;
	color: rgb(230, 62, 62);
	padding: 0 0.8rem;
	line-height: 20px;
}
.card__runtime {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	color: rgba(255, 255, 255, 0.8);
	padding: 0 0.8rem;
}
.card__language {
	margin-left: 0.8rem;
	margin-bottom: 1.5rem;
	background-color: #1e1e1e;
	width: fit-content;
	height: fit-content;
	font-size: 0.85rem;
	padding: 0.2rem;
	color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}
.card__language span {
	text-transform: uppercase;
	color: rgb(230, 62, 62);
}
.card__rating {
	position: absolute;
	right: -2%;
	top: 2%;
	z-index: 2;
}

.card__rating .rate__movie {
	position: absolute;
	left: 0;
	left: 57%;
	bottom: 36%;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.8);
	z-index: 2;
}
.card__rating .rate__movie span {
	font-size: 0.5rem;
	position: absolute;
	top: 10%;
}

.card__description {
	font-style: italic;
	font-size: 0.85rem;
	font-weight: 600;
	padding: 0 0.8rem;
	color: rgb(21, 21, 21);
}

/* styling for trailers */
.trailers__card {
	position: relative;
	overflow: hidden;
}
.trailers__card .trailers__poster {
	position: relative;
	margin: 5px;
}
.trailers__card .trailers__poster img {
	width: 100%;
	height: 360px;
	object-fit: cover;
	object-position: top;
	border-radius: 20px;
}
.trailers__details {
	text-align: center;
	width: 100%;
}
.btn__play__trailers .play__icon {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 2.5rem;
	color: rgba(21, 137, 255, 0.7);
	cursor: pointer;
	z-index: 2;
	transition: 0.5s;
}
.trailers__card:hover .play__icon {
	transform: scale(1.7);
	color: rgb(234, 14, 14);
}
