.container__trailers {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	margin-bottom: 0.7rem;
}
.trailers__header {
	text-align: center;
	line-height: 20px;
	margin-bottom: 1rem;
}
.trailers__header h2 {
	text-transform: uppercase;
	font-weight: 500;
}
.trailers__header span {
	text-transform: capitalize;
}
.trailers__list {
	position: relative;
	width: 430px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.trailers__list ul {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 4rem;
	width: 370px;
}
.trailers__list ul li {
	position: relative;
	list-style: none;
	width: 120px;
	height: 50px;
	z-index: 1;
}
.trailers__list ul li div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
}
.trailers__list ul li div .trailers__list__icon {
	position: relative;
	display: block;
	font-size: 1.2rem;
	line-height: 47px;
	transition: 0.5s;
	color: rgba(255, 255, 255, 0.7);
}
.trailers__list
	ul
	li.trailers__list__active
	div
	.trailers__list__icon {
	transform: translateY(-7px);
	color: rgb(21, 137, 255);
}
.trailers__list ul li div .trailers__list__text {
	position: absolute;
	font-size: 0.8rem;
	font-weight: 600;
	transition: 0.5s;
	letter-spacing: 0.03rem;
	opacity: 0;
	transform: translateY(0);
}
.trailers__list
	ul
	li.trailers__list__active
	div
	.trailers__list__text {
	transform: translateY(13px);
	opacity: 1;
}
.trailers__indicator {
	position: absolute;
	left: 16%;
	width: 194px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.trailers__indicator::before {
	content: '';
	position: absolute;
	bottom: 3px;
	left: -35px;
	width: 70%;
	height: 22px;
	background: rgb(21, 137, 255);
	border-radius: 10px;
	box-shadow: 0 15px 35px rgba(21, 137, 255, 0.9);
}
.trailers__list
	ul
	li:nth-child(2).trailers__list__active
	~ .trailers__indicator {
	transform: translateX(calc(184px * 1));
}

.container__slider__trailer {
	position: relative;
	margin: 0 4rem;
}
.close__trailer {
	position: absolute;
	right: -1%;
	top: -4%;
	background-color: rgba(21, 137, 255, 0.3);
	border-radius: 50%;
	font-size: 2rem;
	z-index: 9;
	cursor: pointer;
}
.trailer {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}
