.trailer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
}
.trailer_btn {
	position: absolute;
	right: 2%;
	bottom: 2%;
	font-size: 0.9rem;
	padding: 0.3rem 1rem;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: rgba(21, 137, 255, 0.91);
	color: #fff;
	cursor: pointer;
	z-index: 9;
	transition: all 0.5s ease-in-out;
}
.trailer_btn_close {
	z-index: 99;
}
.trailer_btn:hover {
	color: rgb(234, 14, 14);
}
