.container__pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 2rem;
	padding: 0.5rem 0;
	background-color: #242424;
	border-radius: 8px;
}
.page__item {
	list-style: none;
	margin: 0.25rem;
	padding: 0.25rem 1rem;
	border: 1px solid #303030;
	border-radius: 8px;
	color: rgba(255, 255, 255, 0.8);
	background-color: #363636;
	cursor: pointer;
}
.page__item:hover {
	border-color: #47a7ff;
	color: #52a6f0;
}
.page__link {
	text-decoration: none;
}
.active__pagination {
	background-color: #1589ff;
	border-color: #47a3ff;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 600;
	box-shadow: 0 8px 16px rgba(21, 137, 255, 0.212);
}
